# Byte-compiled / optimized / DLL files
__pycache__/

# cache
cache/
cache_dir/

# Environments
venv

# vscode
.vscode/

# logs
lightning_logs
logs
output
outputs
runs

data/**/*.bin

# ignore git and cache
.git
.cache
